<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/fontAwesome/css/all.css" rel="stylesheet">

    <title>BlockChain Frontend</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Blockchain Software Implementation : Node 3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Transactions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/configure">Configure</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">Transactions on the Blockchain</h4>
            </div>
        </div>
    </div>

</div>

<!-- main -->
<div class="container" id="bc_blockchain"></div>


<!-- JS -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    var $block = $('<div class="bc-block">\n' +
        '        <div class="card text-center mb-2 mt-2">\n' +
        '            <div class="card-header text-white">\n' +
        '                <h5 class="d-inline"><i class="fas fa-th-large fa-1x"></i> &nbsp;Block #</h5>\n' +
        '                <h5 class="bc-block-number d-inline"></h5>\n' +
        '            </div>\n' +
        '            <div class="card-body">\n' +
        '                <h5 class="card-title">Transactions</h5>\n' +
        '                <table class="table">\n' +
        '                    <thead>\n' +
        '                    <tr>\n' +
        '                        <th scope="col">#</th>\n' +
        '                        <th scope="col">Recipient Address</th>\n' +
        '                        <th scope="col">Sender Address</th>\n' +
        '                        <th scope="col">Timestamp</th>\n' +
        '                        <th scope="col">Value</th>\n' +
        '                    </tr>\n' +
        '                    </thead>\n' +
        '                    <tbody class="bc-transactions">\n' +
        '                    </tbody>\n' +
        '                </table>\n' +
        '            </div>\n' +
        '        </div>\n' +
        '        <div class="text-center"><i class="fas fa-link fa-2x"></i></div>\n' +
        '    </div>');
    var $transaction = $('<tr>\n' +
        '                        <th class="bc-tran-index" scope="row"></th>\n' +
        '                        <td class="bc-tran-recipient"></td>\n' +
        '                        <td class="bc-tran-sender"></td>\n' +
        '                        <td class="bc-tran-timestamp"></td>\n' +
        '                        <td class="bc-tran-value"></td>\n' +
        '                    </tr>');

    var $colors = ['secondary', 'success', 'warning', 'info', 'primary'];
    var $rows = 0;
    var $blocks = 0;


    $(document).ready(function () {
        runner();
    });

    function runner(){
        blockchainUpdate();
        setTimeout(function () {
            runner();
        }, 3000);
    }

    function blockchainUpdate() {
        // Add new data
        $.ajax({
            url: "/chain",
            type: 'GET',
            success: function (response) {

                //console.log(response);
                //Generate Transactions Table
                var transactions = [];
                count = 1;

                for (i = 1; i < response.length; i++) {
                    for (j = 0; j < response["chain"][i]["transactions"].length; j++) {

                        //format date
                        var options = {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                            hour: "2-digit",
                            minute: "2-digit",
                            second: "2-digit"
                        };
                        var date = new Date(response["chain"][i]["timestamp"] * 1000);
                        var formattedDateTime = date.toLocaleTimeString("en-us", options);

                        transaction = [count,
                            response["chain"][i]["transactions"][j]["recipient_address"],
                            response["chain"][i]["transactions"][j]["sender_address"],
                            response["chain"][i]["transactions"][j]["value"],
                            formattedDateTime,
                            response["chain"][i]["block_number"]];
                        transactions.push(transaction);

                        count += 1;
                    }
                }
                
                // Display
                var block_number = 0;
                var block_transactions = [];
                $.each(transactions, function (key, value) {
                    if ((key + 1) > $rows) {
                        if ((key + 1 - $rows) === 1) {
                            block_number = value[5];
                        }
                        if(block_number === value[5]) {
                            block_transactions.push(value);
                        }else {
                            createBlock(block_transactions,block_number);
                            block_transactions = [];
                            block_transactions.push(value);
                        }
                        block_number = value[5];
                    }
                });
                createBlock(block_transactions,block_number);


                $rows = count - 1;
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function createBlock(block_transactions,block_number) {
        if(block_transactions.length > 0) {
            var newblock = $block.clone().hide();
            var random = Math.floor(Math.random() * 5);
            newblock.find('.card').addClass('border-' + $colors[random]);
            newblock.find('.card-header').addClass('bg-' + $colors[random]);
            newblock.find('.bc-block-number').text(block_number);
            $.each(block_transactions, function (key, value) {
                var newTransaction = $transaction.clone();
                newTransaction.find('.bc-tran-index').text(value[0]);
                var recipient = value[1];
                var sender = value[2];
                if(value[1].length > 25){
                    recipient = value[1].slice(0,25)+'...';
                }
                if(value[2].length > 25){
                    sender = value[2].slice(0,25)+'...';
                }
                newTransaction.find('.bc-tran-recipient').text(recipient).attr('title',value[1]);
                newTransaction.find('.bc-tran-sender').text(sender).attr('title',value[2]);
                newTransaction.find('.bc-tran-timestamp').text(value[4]);
                newTransaction.find('.bc-tran-value').text(value[3]);
                newblock.find('.bc-transactions').append(newTransaction);
            });
            $('#bc_blockchain').append(newblock);
            newblock.slideDown();
        }
    }
</script>
</body>

</html>